@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  body {
    @apply bg-aloom-bg-dark;
  }
}

/* custom component styles  */

.aloom-text-input {
  color: #282828;
  width: 400px;
  border-radius: 10px;
  padding: 8px 15px;
}

/* no options to custom the phone input so adding more css, not ideal but does the trick for now */
/* https://react-international-phone.vercel.app/docs/getting-started */

.diagonal-gradient {
  background: linear-gradient(-50deg, #ff521b, #c94016, #ff521b);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
